@model LocadoraDeVeiculos.Dominio.Login

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Take Car</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:rgb(255, 109, 0)">
                <a class="navbar-brand" href="~/Home/Index">
                    <img width="90" height="40" src="~/Imagens/Leite-11.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" style="color:black;" href="~/Home/Index">Início <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:black" href="#">Frota de veículos</a>
                        </li>
                        @if (Session["usuarioLogado"] != null && Session["nivel"].ToString() == "1")
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="color:black" href="#" tabindex="-1" aria-disabled="true">Reservar</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link disabled" style="color:black" href="#" tabindex="-1" aria-disabled="true">Reservar</a>
                            </li>
                        }

                    </ul>
                    @if (Session["usuarioLogado"] == null)
                    {
                        <button type="button" style="color: black" class="btn btn-default btn-lg" id="myBtn" data-toggle="modal" data-target="#LoginModal"> Entrar </button>
                        <input type="button" style="color:black" class="btn btn-default btn-lg" id="myBtn" value="Cadastre-se" onclick="location.href='@Url.Action("Cadastro", "Home")'" />
                    }
                    else
                    {
                        <button type="button" style="color:black" class="btn btn-default btn-lg" id="myBtn">@Session["usuarioLogado"]</button>
                        if (Session["usuarioLogado"] != null && (Session["nivel"].ToString() == "2" || Session["nivel"].ToString() == "3"))
                        {
                            <input type="button" style="color:black" class="btn btn-default btn-lg" id="myBtn" value="Área do funcionario" onclick="location.href='/Funcionario'" />
                        }
                        <input type="button" style="color:black" class="btn btn-default btn-lg" id="myBtn" value="Sair" onclick="location.href='@Url.Action("Logout", "Home")'" />

                    }
                </div>
            </nav>
        </header>
    </div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="modal fade text-center" tabindex="-1" id="LoginModal" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Login</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div>

                                <div style="display:inline-block">

                                    @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control", placeholder = "Login" } })
                                    @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })

                                </div>
                                <br /> <br />
                            </div>
                        </div>

                        <div>

                            <div style="display:inline-block;">
                                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", placeholder = "Senha" } })
                                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                                <br />
                            </div>

                        </div>

                    </div>
                    <div>
                        <input type="submit" value="Entrar" class="btn btn-primary" />
                        @if (Session["usuarioNegado"] != null)
                        {
                            <script>alert("Usuário ou senha incorretos")</script>
                            Session["usuarioNegado"] = null;
                        }
                    </div>
                    <br />
                </div>
            </div>
        </div>

    }
    <div>
        @RenderBody()
        <footer id="footer" class="footer" style="background-color:rgb(255, 109, 0)">
            <br />
            <div class="main-footer widgets-dark">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget subscribe no-box">
                                <h4 class="widget-title">Take Car<span></span></h4>
                                <p>Somos uma empresa nacional com mais de 5 anos de mercado que tenta oferecer o menor preço em toda região do Brasil.</p>
                                <p>Nossa frota conta com mais de 100 veiculos a sua disponibilidade.</p>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget no-box">
                                <h4 class="widget-title">Links Rápidos<span></span></h4>
                                <ul class="thumbnail-widget">
                                    <li>
                                        <div class="thumb-content">@Html.ActionLink("Veículos", "Lista", "Veiculo")</div>
                                    </li>
                                    <li>
                                        <div class="thumb-content">@Html.ActionLink("Categorias", "Lista", "Categoria")</div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget no-box">
                                <h4 class="widget-title">Sede Administrativa<span></span></h4>
                                <p>Endereço: Rua Benedito Calixto, 358</p>
                                <p>Pinheiros - São Paulo-SP</p>
                                <p>CEP:05406-040</p>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3">

                            <div class="widget no-box">
                                <h4 class="widget-title">Contate-nos<span></span></h4>

                                <p><a href="mailto:takecarlocacao@contato.com.br" title="glorythemes">takecarlocacao@contato.com.br</a></p>
                                <p>(11) 3695-2487 / (11) 95656-8486</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="footer-copyright text-center py-3">
                            <p>&copy; @DateTime.Now.Year - Take Car Aluguel de Veiculos. Todos os direitos reservados</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask")
    @RenderSection("scripts", required: false)
</body>
</html>
