@model LocadoraDeVeiculos.Dominio.Login 
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Take Car</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:rgb(255, 109, 0)">
                <a class="navbar-brand" href="~/Home/Index">
                    <img width="90" height="40" src="~/Imagens/Leite-11.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" style="color:black;" href="~/Home/Index">Início <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:black" href="~/Home/Lista">Conheça a nossa frota!</a>
                        </li>
                        @if (Session["usuarioLogado"] != null && Session["nivel"].ToString() == "1")
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="color:black" href="#" tabindex="-1" aria-disabled="true">Reservar</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link disabled" style="color:black" href="#" tabindex="-1" aria-disabled="true">Reservar</a>
                            </li>
                        }

                    </ul>
                    @if (Session["usuarioLogado"] == null)
                    {
                        <button type="button" style="color: black" class="btn btn-lg" id="myBtn" data-toggle="modal" data-target="#LoginModal"> Entrar </button>
                        <input type="button" style="color:black" class="btn btn-lg" id="myBtn" value="Cadastre-se" onclick="location.href='@Url.Action("Cadastro", "Home")'" />
                    }
                    else
                    {
                        <button type="button" style="color:black" class="btn btn-default btn-lg" id="myBtn">@Session["usuarioLogado"]</button>
                        if (Session["usuarioLogado"] != null && (Session["nivel"].ToString() == "2" || Session["nivel"].ToString() == "3"))
                        {
                            <input type="button" style="color:black" class="btn btn-default btn-lg" id="myBtn" value="Administrativo" onclick="location.href='/Funcionario'" />
                        }
                        <input type="button" style="color:black" class="btn btn-default btn-lg" id="myBtn" value="Sair" onclick="location.href='@Url.Action("Logout", "Home")'" />

                    }
                </div>
            </nav>
        </header>
    </div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="modal fade text-center" tabindex="-1" id="LoginModal" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Login</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div>

                                <div style="display:inline-block">
                                    
                                    @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control", placeholder = "Login" } })
                                    @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })

                                </div>
                                <br /> <br />
                            </div>
                        </div>

                        <div>

                            <div style="display:inline-block">
                                    @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", placeholder = "Senha" } })
                                
                                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                                <br />
                            </div>

                        </div>

                    </div>
                    <div>
                        <input type="submit" value="Entrar" class="btn" style="background-color:rgb(255, 109, 0)"/>
                        @if (Session["usuarioNegado"] != null)
                        {
                            <script>alert("Usuário ou senha incorretos")</script>
                            Session["usuarioNegado"] = null;
                        }
                    </div>
                    <br />
                </div>
            </div>
        </div>

    }
    <div>
        @RenderBody()
        <footer id="footer" class="footer" style="background-color:rgb(255, 109, 0)">
            <br />
            <div class="main-footer widgets-dark">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget subscribe no-box">
                                <h4 class="widget-title">Take Car<span></span></h4>
                                <p>Somos uma empresa nacional com mais de 5 anos de mercado que tenta oferecer o menor preço em toda região do Brasil.</p>
                                <p>Nossa frota conta com mais de 100 veiculos a sua disponibilidade.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget no-box">
                                <h4 class="widget-title">Sede Administrativa<span></span></h4>
                                <p>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-map" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M15.817.613A.5.5 0 0 1 16 1v13a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 14.51l-4.902.98A.5.5 0 0 1 0 15V2a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0l4.902.98 4.902-.98a.5.5 0 0 1 .415.103zM10 2.41l-4-.8v11.98l4 .8V2.41zm1 11.98l4-.8V1.61l-4 .8v11.98zm-6-.8V1.61l-4 .8v11.98l4-.8z" />
                                    </svg> Endereço: Rua Benedito Calixto, 358
                                </p>
                                <p>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11 4a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path d="M7.5 4h1v9a.5.5 0 0 1-1 0V4z" />
                                        <path fill-rule="evenodd" d="M6.489 12.095a.5.5 0 0 1-.383.594c-.565.123-1.003.292-1.286.472-.302.192-.32.321-.32.339 0 .013.005.085.146.21.14.124.372.26.701.382.655.246 1.593.408 2.653.408s1.998-.162 2.653-.408c.329-.123.56-.258.701-.382.14-.125.146-.197.146-.21 0-.018-.018-.147-.32-.339-.283-.18-.721-.35-1.286-.472a.5.5 0 1 1 .212-.977c.63.137 1.193.34 1.61.606.4.253.784.645.784 1.182 0 .402-.219.724-.483.958-.264.235-.618.423-1.013.57-.793.298-1.855.472-3.004.472s-2.21-.174-3.004-.471c-.395-.148-.749-.336-1.013-.571-.264-.234-.483-.556-.483-.958 0-.537.384-.929.783-1.182.418-.266.98-.47 1.611-.606a.5.5 0 0 1 .595.383z" />
                                    </svg> Pinheiros - São Paulo-SP
                                </p>
                                <p>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    </svg> CEP:05406-040
                                </p>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3">

                            <div class="widget no-box">
                                <h4 class="widget-title">Contate-nos<span></span></h4>

                                <p>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                                    </svg><a href="mailto:takecarlocacao@contato.com.br" title="glorythemes"> takecarlocacao@contato.com.br</a>
                                </p>
                                <p>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z" />
                                    </svg> (11) 3695-2487/(11) 95656-8486
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget no-box">
                                <h4 class="widget-title">Redes Sociais<span></span></h4>
                                <p>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                                        <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z" />
                                    </svg> <a href="www.fabook.com">Facebook</a>
                                </p>
                                <p>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                                        <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z" />
                                    </svg> <a href="www.linkedin.com">Linkedin</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask")
    @RenderSection("scripts", required: false)
</body>
</html>
