
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Take Car</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/dashboard/">
</head>
<body>
    @if (Session["usuarioLogado"] != null && (Session["nivel"].ToString() == "2" || Session["nivel"].ToString() == "3"))
    {
        <nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow" style="background-color:rgb(255, 109, 0)">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" style="" href="~/Funcionario/Index"><img width="90" height="40" src="~/Imagens/HorzontalcomSombra.png" /></a>

            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <button type="button" style="color:black" class="btn btn-default btn-lg" id="myBtn">@Session["usuarioLogado"]</button>
                    <input type="button" style="color:black" class="btn btn-default btn-lg" id="myBtn" value="Sair" onclick="location.href='@Url.Action("Logout", "Home")'" />
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block sidebar" style="background-color:rgba(128, 128, 128, 0.30)">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link active" style="color:black">@Html.ActionLink("Funcionarios", "Index", "Home")</a><br /></li>
                        </ul>
                        <br />
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link active">@Html.ActionLink("Clientes", "Index", "Home")</a><br /></li>
                        </ul>
                        <br />
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link active">@Html.ActionLink("Veiculos", "Index", "Home")</a><br /></li>
                        </ul>
                        <br />
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link active">@Html.ActionLink("Reservas", "Index", "Home")</a></li>
                        </ul>
                        <br />

                    </div>

                </nav>

            </div>
        </div>
        }
    else
    {
        <h3 class="jumbotron" style="color:red;text-align:center">Error 401 - Não autorizado</h3>
    }

    <div class="col-md-9 ml-sm-auto col-lg-10 px-4 container" style="margin-top: -240px; margin-right: 10px">
        @if (Session["usuarioLogado"] != null || HttpContext.Current.Request.AppRelativeCurrentExecutionFilePath.Contains("Login"))
        {
            @RenderBody()
        }
        else
        {
            Context.Response.Redirect("/Home/Index");
        }
        <hr />
        <footer class="container">
            <p>&copy; @DateTime.Now.Year - Take Car</p>
        </footer>
    </div>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask")
    @RenderSection("scripts", required: false)


</body>
    