<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Take Car</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Take Car</a>
        
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sair</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="background-color:aqua">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link active" href="#">@Html.ActionLink("Funcionarios", "Index", "Home")</a><br /></li>
                        <li class="nav-item"><a class="nav-link active" href="#">@Html.ActionLink("Clientes", "Index", "Home")</a><br /></li>
                        <li class="nav-item"><a class="nav-link active" href="#">@Html.ActionLink("Veiculos", "Index", "Home")</a><br /></li>
                        <li class="nav-item"><a class="nav-link active" href="#">@Html.ActionLink("Reservas", "Index", "Home")</a></li>
                    </ul>   
                </div>
            </nav>
        </div>
    </div>
    <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
        @RenderBody()
        <hr />
        <footer class="container">
            <p>&copy; @DateTime.Now.Year - Take Car</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask")
    @RenderSection("scripts", required: false)
</body>